h1 {
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    margin-top: 100px;
    font-size: 40px;
}
#main-content {
    margin-right: 10%;
}
#inputs img {
    width: 400px;
    height: auto;
    margin-top: 80px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: end;
}
#inputs {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
#inputs #email {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

/* Use a dedicated class for input labels to ensure perfect alignment */
.input-label {
    min-width: 140px;
    margin: 0;
    text-align: left;
    display: inline-block;
}
#inputs #phone {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}
/* form button{
    margin-left: 60%;
    size: 100px;
} */
button, input[type="submit"] {
    margin-left: 60%;   
    font-size: 20px;
}
body {
    background-color: black;
}
p {
    color: white;
}